<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="/static/logos/logo.png" />
    <link rel="apple-touch-icon" href="/static/logos/logo.png" />

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/rigan.css">
    <link rel="stylesheet" type="text/css" href="/static/css/spreadsheet.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/module/educa-admin-sdk.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/toastify.min.js"></script>

    
    </head>
    <body>
        <main>
            <img src="{{school.icon.url}}" alt="" />
      
  

    <div class="tab-content">
      {% for sheet in sheets %}
        <div class="tab-pane {%if forloop.counter == 1%}active{%endif%} container" id="menu{{forloop.counter}}">
            <h3 class="sheet-title">{{ sheet.name }}</h3>
            <div class="table-responsive">
                <table class="table table-bordered">
                <thead class="thead-dark">
                    {% for header_row in sheet.headers %}
                    <tr>
                        {% for cell in header_row %}
                        {% if cell.value %}
                            <th
                            {% if cell.colspan > 1 %} colspan="{{ cell.colspan }}"{% endif %}
                            {% if cell.rowspan > 1 %} rowspan="{{ cell.rowspan }}"{% endif %}
                            >{{ cell.value }}</th>
                        {% else %}
                            <!-- Render empty th to keep structure if needed -->
                            <th
                            {% if cell.colspan > 1 %} colspan="{{ cell.colspan }}"{% endif %}
                            {% if cell.rowspan > 1 %} rowspan="{{ cell.rowspan }}"{% endif %}
                            ></th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </thead>
            
                <tbody>
                    {% for row in sheet.rows %}
                    <tr>
                        {% for val in row %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
      {% endfor %}
    </div>
        </main>

    <div class="page-load">
        <div class="loader"></div>
        <div class="w-block h6 mt-3 w-center" id="loader-text">
          
        </div>
    </div>

    <script src="/static/js/functions.js"></script>
    <script src="/static/js/spreadsheet.js"></script>
    </body>
    </html>